<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>你正在使用该充电宝</title>
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css"/>
</head>
<body>
    <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
     <div class="weui-msg__icon-area">
        <i class="weui-icon-info weui-icon_msg"></i>
    </div> 
    <form method="post">
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">{$user.nickname}</h2>
        <p class="weui-msg__desc">开始时间：{$order.add_time}</p>
        <p class="weui-msg__desc">费用：{$order.order_amount}元</p>
    </div>
    
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <button type="submit" class="weui-btn weui-btn_primary">确认 归还</button>
        </p>
    </div>
    </form>
    
</div></div></div>

</body></html>