<include file="public/header" title="填写订单" body="g4"/>
<include file="public/header_nav" title="填写订单" href="javascript:history.back(-1)"/>
<form name="cart2_form" id="cart2_form" method="post" action="{:U('xiadan_add')}">
		<input type="hidden" name="type" value="{$type}" >
    <div class="edit_gtfix">
        <a href="__ROOT__/anyile/User/address_list/source/an/type/{$type}">
            <div class="namephone fl">
                <div class="top">
                    <div class="le fl">{$address.consignee}</div>
                    <div class="lr fl">{$address.mobile}</div>
                </div>
                <div class="bot">
                    <i class="dwgp"></i>
                    <span>宿舍：{$address.sushe}</span>
                </div>
                <input type="hidden" value="{$address.address_id}" name="address_id" /> <!--收货地址id-->
            </div>
            <div class="fr youjter">
                <i class="Mright"></i>
            </div>
            <div class="ttrebu">
                <img src="__STATIC__/images/tt.png"/>
            </div>
        </a>
    </div>

    <!--商品信息-s-->
        <div class="ord_list fill-orderlist p">
            <div class="maleri30">
                
                    <div class="shopprice">
                        <div class="img_or fl"><img src="{$type|get_img_by_type}"/></div>
                        <div class="fon_or fl">
                            <h2 class="similar-product-text">{$kuaidi[kuaidi_name]}</h2>
                            <div>{$good[spec_key_name]}</div>
                        </div>
                        <div class="price_or fr">
                            <p class="red"><span>￥</span><span>{$kuaidi[price]}</span></p>
                            <p class="ligfill">x1</p>
                        </div>
                    </div>
                     <input type="hidden" name="kuaidi_name" value="{$kuaidi[kuaidi_name]}" >
                   <input type="hidden" name="order_amount" value="{$kuaidi[price]}" >
            </div>
        </div>
    <!--商品信息-e-->

<!--卖家留言-s-->
    <div class="customer-messa">
        <div class="maleri30">
            <p>用户备注（50字）</p>
            <textarea class="tapassa" onkeyup="checkfilltextarea('.tapassa','50')" name="user_note" rows="" cols="" placeholder="选填"></textarea>
            <span class="xianzd"><em id="zero">50</em>/50</span>
        </div>
    </div>
<!--卖家留言-e-->

<!--订单金额-s-->
    <div class="information_dr ma-to-20">
        <div class="maleri30">
            <div class="xx-list">
                <p class="p">
                    <span class="fl">服务协议：</span>
                    <span class="fr red"><span>提交订单即统同意该协议</span></span>
                   <br>
                    <span><br>
                   
                    1.委托代拿的物品价值不超过200元。<br>
                    2.最高赔偿不超过200元。<br>
                    </span>
                </p>
                
               
            </div>
        </div>
    </div>
<!--订单金额-e-->

<!--提交订单-s-->
   
    <div class="payit fillpay ma-to-200">
        <div class="fr">
            <a href="javascript:document.cart2_form.submit();">提交订单</a>
        </div>
        <div class="fl">
            <p><span class="pmo"></span><span></span><span></span><span></span></p>
        </div>
    </div>
<!--提交订单-e-->


</form>


</body>
</html>
