<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>刷单系统</title>
    <link rel="stylesheet" href="http://cdn.yudw.com/weui/weui.min.css"/>
</head>
<style>

.letf{
	text-align : left;
}

</style>
<body>
    <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    
    <div class="weui-msg__icon-area">
        <i class="weui-icon-warn weui-icon_msg"></i>
    </div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">刷单说明</h2>
        <p class="weui-msg__desc letf">1.下单后，不用付款</p>
        <p class="weui-msg__desc letf">2.下单成功后，已经是被抢状态（抢单员为：0）</p>
        <p class="weui-msg__desc letf">3.消息推送给抢单员，不可抢</p>
        <p class="weui-msg__desc letf">4.下单消息，滚动展示</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="{:U('shuadan/xiadan/xiadan')}" class="weui-btn weui-btn_primary" >开始刷单</a>
        </p>
    </div>
    
</div></div></div>

</body></html>