
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>外卖模块</title>
    <link rel="stylesheet" href="__PUBLIC__/css/weui.min.css"/>
     <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
     <script type="text/javascript" src="http://yudw.com/ok/example/example.js"></script>
</head>
<body>
<script type="text/javascript" src="http://yudw.com/ok/example/weui.min.js" ></script>
<script type="text/javascript" src="http://yudw.com/ok/example/zepto.min.js" ></script>
    <div id="container" class="container"><div class="zh_CN"><div class="weui-msg">
    
    
   
    
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">驿源外卖下单模块</h2>
        <p class="weui-msg__desc"></p>
    </div>
    
    
    
    
    
<div class="page">
    
 
	<div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="{:U('waimai/qiang/xiadan')}" class="weui-btn weui-btn_primary" >下外卖单</a>
        </p>
    </div>	
   
</div>
    

    
</div></div></div>

</body></html>